---
import { site } from "../content/site";
import MobileNav from "./vue/MobileNav.vue";
---

<header
  class="
    absolute inset-x-0 top-0 z-50
    pointer-events-none
  "
>
  <div
    class="
      mx-auto flex max-w-6xl items-center justify-between
      px-4 py-6
      text-white
      pointer-events-auto
    "
  >
    <!-- LOGO -->
    <a
      href="#inicio"
      class="text-lg text-center font-semibold tracking-[0.2em] text-[#cbc0b2] uppercase  hover:text-amber-100 transition-colors"
    >
      - {site.name} -
      <br>
      <div class="text-xs">abogados</div> 
    </a>

    <!-- NAV DESKTOP -->
    <nav
      class="hidden items-center gap-6 md:flex"
      aria-label="Navegación principal"
    >
      {site.nav.map((i) => (
        <a
          href={i.href}
          class="text-sm font-medium text-white/90 hover:text-amber-400 transition-colors"
        >
          {i.label}
        </a>
      ))}

      <a
        href="#contacto"
        class="
          inline-flex items-center justify-center
          rounded-full
          border border-white/30
          px-4 py-2
          text-sm font-semibold text-white
          hover:bg-white/10
          transition-colors
        "
      >
        Consulta
      </a>
    </nav>

    <!-- NAV MOBILE -->
    <div class="md:hidden">
      <MobileNav client:idle navItems={site.nav} />
    </div>
  </div>
</header>
